*{
    margin: 0;
    padding: 0;
}
.home-container{
    height: 100vh;
    background-image: url(./image\ 23.png);
    background-position: center;
    color: white;
}
.home-container p{
    text-align: center;
    padding: 10px 0px;
    font-size: 50px;
    font-weight: 548;
}
.header{
    display: flex;
    padding: 20px 0px;
}
.header-content{
    display: flex;
    justify-content: center;
}
.header-content-1{
    width: 20%;
}
.header-content-2{
    width: 60%;
}
.header-content-3{
    width: 20%;
}
.header-content-3 button{
    background-color: black;
    color: #ffffff;
    border: .5px solid white;
    padding: 5px 15px;
    border-radius: 12px;
}