*{
    margin: 0;
    padding: 0;
}
#home-section{
    margin-bottom: 20px;
}
.home-container{
    height: 100vh;
    background-image: url(./image\ 23.png);
    background-position: center;
    color: white;
}
.home-container p{
    text-align: center;
    padding: 10px 0px;
    font-size: 50px;
    font-weight: 548;
}
.header{
    display: flex;
    padding: 20px 0px;
}
.header-content{
    display: flex;
    justify-content: center;
}
.header-content-1{
    width: 20%;
}
.header-content-2{
    width: 60%;
}
.header-content-3{
    width: 20%;
}
.header-content-3 button{
    background-color: black;
    color: #ffffff;
    border: .5px solid white;
    padding: 5px 15px;
    border-radius: 12px;
}
.form-container{
    display: flex;
    justify-content: center;
}
.form{
    margin-top: -50px;
    display: flex;
    width: 90vw;
    justify-content: center;
    justify-content: space-around;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3)
}
.input{
    display: flex;
    flex-direction: column;
    width: 200px;
}
.input p{
    font-size: 15px;
    padding: 7px 0px;
}
.input-button {
    padding-top: 17px;
}
.input button {
    padding: 10px 20px;
    margin-top: 12px;
    color: #ffffff;
    background-color: black;
    border: none;
    border-radius: 10px;
}
.input input{
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    padding-left: 40px;
}
.input-container{
    position: relative;
}
.input-container input{
    padding-left: 25px;
}
.input-container i{
    margin-left: -95%;
    position: absolute;
    top: 30%;
}
#brand-section, #body-type-section, #collection-section,.collection-section-header-container{
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}
.brand-section-container,.body-type-section-container, .collection-section-container{
    width: 90vw;
}
.brand-section-header,.body-type-section-header{
    display: flex;
}
.h3{
    white-space: nowrap;
}
.brand-section-button,.body-type-section-button{
    width: 89%; 
    display: flex;
    justify-content: end;
}
.brand-section-button a,.body-type-section-button a{
    text-decoration: none;
    color: #000000;
}
.brand-container,.body-type-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.brand-content,.body-type-content{
    width: 15%;
    height: 100px;
    background-color: #E5E4E2;
    margin: 10px 0px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand,.body-type{
     text-align: center; 
}
.p{
    white-space: nowrap;
}
#collection-section{
    background-color:  #E5E4E2;
    padding-bottom: 40px;
    margin-bottom: unset;
} 
.collection-section-header{
    width: 55%;
    text-align: center;
}
.collection-section-header p{
    padding: 15px 0px;
}
.collection-section-header ul li{
    display: inline;
    padding: 7px 5px ;
}
.collection-section-header ul li a{
    text-decoration: none;
    color: black;
    background-color: #ffffff;
    padding: 7px 15px;
    border-radius: 30px;
}
.collection-section-header ul li:first-of-type a{
    background-color: #000000;
    color: #ffffff;
}